@use '../abstracts/variables' as *;

html {
    box-sizing: border-box;
    font-size: $root-font-size;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background: $background;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: $new-button-offset;
    font-family: $font-family;
    line-height: 1.5;
}

