@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

$font-family: "Pangolin", cursive;
$root-font-size: 14px;

$nav-offset: 30px;
$new-button-offset: 40px;

$background: #222;

$new-button-color: #eee;
$new-button-background: #e900af;
$new-button-hover: #adff2f;

$card-color: #333;
$card-background: #eee;
$card-read-color: #eee;
$card-read-background: #444;
$card-delete-button-color: #eee;
$card-delete-button-background: #ba1616;

$switch-slider: #fff;
$switch-off: #ccc;
$switch-on: #66bb6a;

$dialog-color: #eee;
$dialog-background: #333;
$dialog-button-color: #eee;
$dialog-button-background: #e900af;
